h3{
    font-size: 1.5rem;
    padding: 10px 0;
}

p{
    font-size: .9rem;
    font-weight: 600;
}

.form{
    margin: 20px;
    border-radius: 1rem;
    max-width: 550px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.24);
}

.form-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experience{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

    .experiences, .experiences div{
        display: flex;
        flex-direction: column;
        
    }

        .date{
            margin: 20px 0;
            display: flex;
            gap: 30px;
        }

        .delete{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
        }

            .delete > button{
                background-color: red;
            }

        .add{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
        }

            .add > button{
                background-color: rgb(0, 165, 0);
            }

button{
    cursor: pointer;
    margin: 5px 0;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}

    input, textarea{
        margin: 4px 0;
        border-radius: 5px;
        border-bottom: 1px solid #ccc;
        padding: 10px;
        margin: 5px 0;
        font-size: .9rem;
        font-weight: 600;
        color: #ccc;
        transition: all 0.3s ease-in-out;
        border-width: 0;
        max-width: 500px;
    }

    textarea{
        height: 120px;
        resize: none;
    }
    
        input:focus, textarea:focus{
            color: rgba(0, 0, 0, 0.671);
            outline: white solid 4px;
        }

        input:focus-visible, textarea:focus-visible{
            outline: none;
        }

.education{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

    .schools, .schools div{
        display: flex;
        flex-direction: column;   
    }

.project{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
    .projects, .projects div{
        display: flex;
        flex-direction: column;
    }

.end{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

    .end button{
        background-color: rgb(102, 102, 102);
    }
