$dark-blue: #031059;
$blue: #2C3D73;
$orange: #F24405;
$light-orange: #f2846b;
$gray: #F2F2F2;

.frame{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 1123px;
    width: 794px;

    .preview-header{
        min-height: 20px;
        
        position: relative;
        resize: vertical;
        overflow: hidden;

        background-color: $orange;
        padding: 20px;
    }

    .preview-wrapper{
        display: grid;
        grid-template-columns: .1fr 1fr .1fr;
        grid-template-rows: 1fr;
        height: 100%;
        max-width: 100%;
        position: relative;

        .preview-left{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            
            height: 100%;
            padding: 20px;
            position: relative;
            width: max-content;
            max-width: 200px;
        }
    
        .preview-main{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 20px;
            height: 100%;
            padding: 20px;
            position: relative;
            max-width: 723px;
            min-width: fit-content;
        }
    
        .preview-right{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 20px;
            background-color: $blue;
            height: 100%;
            padding: 20px;
            position: relative;
            width: max-content;
            max-width: 200px;
        }
    }

    .preview-footer{
        min-height: 20px;
        height: fit-content;
        width: 100%;
    }

    p{
        width: fit-content;
        white-space: wrap;
    }

    p:active, div:active{
        border: 1px solid $orange;
    }

    .name{
        color: white;
        max-width: 400px;
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .title{
        color: white;
        max-width: 400px;
        font-size: 1.7em;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .email-wrapper{

        max-width: 400px;

        .email{
            color: white;
            max-width: 400px;
            font-size: .8em;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .email-tag{
            color: white;
            max-width: 400px;
            font-size: 1em;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }

    .phone-wrapper{

        .phone{
            color: white;
            max-width: 400px;
            font-size: .8em;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .phone-tag{
            color: white;
            max-width: 400px;
            font-size: 1em;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }

    .city-wrapper{
            
            .city{
                color: white;
                max-width: 400px;
                font-size: .8em;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .city-tag{
                color: white;
                max-width: 400px;
                font-size: 1em;
                font-weight: bold;
                margin-bottom: 10px;
            }
    }


    .about-me, .education, .experience{
        color: black;
        max-width: 400px;
        font-size: 1.6em;
        font-weight: bold;
    }

    hr{
        margin-bottom: 10px;
    }

    .description{ 
        font-weight: bold;
        margin-left: 5px;   
    }

    .description::before{
        content: "•";
        margin-right: 5px;
    }

    .experienceContent, .educationContent{
        margin-top: 10px;
        font-weight: 500;
        margin-left: 5px; 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .title-t{
        margin-top: 10px;
        display: flex;
        align-items: center;

        .jobTitle, .eduDegree{
            font-weight: bold;
            margin-left: 5px;       
        }

        .date{
            margin-left: 5px;
            font-weight: light;
        }

        .jobTitle::before, .eduDegree::before{
            content: "-";
            margin-right: 5px;
        }
        
    }

    .jobCompanyWrap, .eduUniversityWrap{
        display: flex;
        align-items: center;
        margin-left: 10px;

        .jobCompany, .eduUniversity{
            font-weight: 600;
        }
        .jobCompany::before, .eduUniversity::before{
            content: '';
            margin-right: 5px;
        }
    }

}