$dark-blue: #031059;
$blue: #2C3D73;
$orange: #F24405;
$light-orange: #f2846b;
$gray: #F2F2F2;

#enableSettings{
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 2;
    background-image: url('../assets/icons8-settings-64.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    abbr{
        background-color: transparent;
        width: 100%;
        height: 100%;
    }
}

#enableSettings:hover{
    animation: enablesettings 1s;
}

@keyframes enablesettings {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.5);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

.frame{
    
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 1123px;
    width: 794px;

    .preview-header{
        min-height: 20px;
        position: relative;
        resize: vertical;
        overflow: hidden;

        background-color: $orange;
        padding: 20px;
    }

    .description-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-left: 20px;
        margin-top: 5px;
    }

    .preview-wrapper{
        display: grid;
        grid-template-columns: .07fr 1fr .1fr;
        grid-template-rows: 1fr;
        height: 100%;
        max-width: 100%;
        position: relative;

        .preview-left{
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            flex-wrap: wrap;
            flex-direction: column;
            
            height: 100%;
            padding: 20px;
            position: relative;
            max-width: 200px;
            min-width: 10px;
            width: max-content;
        }
    
        .preview-main{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 20px;
            height: 100%;
            padding: 20px;
            position: relative;
            max-width: 723px;
            min-width: fit-content;
            
        }
    
        .preview-right{
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 20px;
            background-color: $blue;
            height: 100%;
            padding: 20px;
            position: relative;
            width: max-content;
            max-width: 200px;
        }
    }

    .preview-footer{
        min-height: 20px;
        height: fit-content;
        width: 100%;
        padding: 10px;
    }

    p{
        width: fit-content;
        white-space: wrap;
    }

    p:active, div:active{
        border: 1px solid $orange;
    }

    .name{
        max-width: 600px;
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .title{
        max-width: 400px;
        font-size: 1.7em;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .email-wrapper{

        max-width: 400px;

        .email{
            max-width: 400px;
            font-size: .8em;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .email-tag{
            max-width: 380px;
            font-size: 1em;
            font-weight: bold;
            margin-bottom: 3px;
        }
    }

    .phone-wrapper{

        .phone{
            max-width: 380px;
            font-size: .8em;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .phone-tag{
            max-width: 380px;
            font-size: 1em;
            font-weight: bold;
            margin-bottom: 3px;
        }
    }

    .city-wrapper{
            
            .city{
                max-width: 380px;
                font-size: .8em;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .city-tag{
                max-width: 380px;
                font-size: 1em;
                font-weight: bold;
                margin-bottom: 3px;
            }
    }


    .about-me, .education, .experience, .skill, .language, .contact{
        max-width: 400px;
        font-size: 1.6em;
        font-weight: bold;
    }

    .contact{
        margin-bottom: 10px;
    }

    hr{
        margin-bottom: 10px;
    }

    .description{ 
        font-weight: 500;
        margin-left: 5px;   
        max-width: 500px;
        margin-top: 5px;
    }

    .description::before{
        content: "•";
        margin-right: 5px;
    }

    .experienceContent, .educationContent{
        margin-top: 10px;
        font-weight: 500;
        margin-left: 5px; 
        display: grid;
    }

    .experienceContent{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .educationContent{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .language-bigWrap, .skill-bigWrap{

        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 190px;
        min-width: 100px;

        .languageContent, .skillContent{
            align-self: flex-start;
            font-weight: 600; 
            font-size: 1em;
            max-width: 170px;
            margin: 10px 0 3px 0;
        }
        

        li::before{
            content: "•";
            margin-right: 5px;
        }

    }
    

    .title-t{
        margin-top: 10px;
        display: flex;
        align-items: center;

        .jobTitle, .eduDegree{
            font-weight: bold;
            margin-left: 5px;       
        }

        .date{
            margin-left: 5px;
            font-weight: light;
        }

        .jobTitle::before, .eduDegree::before{
            content: "-";
            margin-right: 5px;
        }
        
    }

    .jobCompanyWrap, .eduUniversityWrap{
        display: flex;
        align-items: center;
        margin-left: 10px;

        .jobCompany, .eduUniversity{
            font-weight: 600;
        }
        .jobCompany::before, .eduUniversity::before{
            content: '';
            margin-right: 5px;
        }
    }
}