$dark-blue: #031059;
$blue: #2C3D73;
$orange: #F24405;
$light-orange: #f2846b;
$gray: #F2F2F2;

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    margin-bottom: 1rem;
    position: relative;

    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;
        margin-bottom: 1rem;

        button{
            cursor: pointer;
            padding: 10px;
            border-radius: .7rem;
            outline-style: none;
            border: none;
            background-color: $blue;
            color: white;
            font-weight: 500;
        }
    }

    @media (min-width: 900px)
    {
        .buttons{
            position: absolute;
            visibility: hidden;
        }
    }

    .content{
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: 100vh;
        width: 100%;

        #separator{
            position: absolute;
            margin-left: 3px;
            margin-right: 3px;
            height: 100%;
            background-color: black;
            transform: rotate(0deg);
        }

        #form{
            background-color: $blue;
        }

        #form, #preview{
            align-self: flex-start;
            margin: 10px;
            min-height: 100vh;
            min-width: 49%;
            max-width: 50%;
            overflow-y: hidden;
        }

        #preview{
            position: -webkit-sticky;
            position: sticky;
            top: 0;
        }
    }

    @media (max-width: 900px)
    {
        #form, #preview, #separator{
            position: absolute;
            visibility: hidden;
        }
    }
}

.hide{
    visibility: hidden;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}